.clients{
  
    h2{width: 100%;font-family: 'semi';font-size: 30px;display: flex;justify-content: center;}
    .inner{
        display: flex;flex-wrap: wrap;padding-left: 20%;
    .logo{
        width: 50%;height: 100px;display: grid;grid-template-columns: repeat(2, 1fr);align-items: baseline;
        img{width: 100%;height: auto;}
    }
   }
}



@media screen and (min-width:568px){
    
    .clients{
      
        h2{font-size: 45px;padding: 0 0 20px 80px;}
        .inner{
            padding-left: 60px;
        .logo{
            width: 25%;height: 100px;display: grid;grid-template-columns: repeat(3, 1fr);align-items: center;margin: 0 auto;
           
        }
      }
    }
    
}


@media screen and (min-width:768px){
    
    .clients{
      
        h2{font-size: 45px;}
        .inner{
            padding-left: 100px;
        .logo{
            width: 30%;height: 100px;display: grid;grid-template-columns: repeat(3, 1fr);align-items: center;margin: 0 auto;
           
        }
       }
    }
    
}






@media screen and (min-width:1200px){
    
    .clients{
       
        h2{font-size: 60px;padding: 0 18% 0 35%;}
        .logo{
            width: 17%!important;height: 150px;display: grid;grid-template-columns: repeat(1, 1fr);align-items: center;margin-bottom: 30px;
            
        }
    }
    
}